<% provide(:title, "Users") %>
<h1>Users</h1>
<div class="card">
  <%= search_form_for @search do |f| %>
      <div class="card-block">
        <div class="row">
          <div class="col-lg-4 col-xl-3">
            <%= f.label :name_or_email_cont, "Name/Email" %>
            <%= f.search_field :name_or_email_cont, class: "form-control"  %>
          </div>
          </br>
          <div class="col-lg-4 col-xl-3">
            <button type="submit" class="btn btn-primary m-t-2">Search</button>
            <%= link_to "Reset", users_path(:user_status => "all"), class: "btn btn-primary m-t-2 m-l-1" %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="list">
  <table class='table table-striped table-bordered table-sm table-hover'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr class="user_list" id="user_list-<%= user.id %>">
        <%= render partial: 'user_row', :locals => { :user => user } %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
  <%= page_entries_info @users %>
</div>
